
# Wang 2024 PIMs source PDFs/DOCXs — copyrighted Wiley content, do not commit.
# We commit only the YAML we curate from these (per "facts not copyrightable" posture).
knowledge/au/pims_wang_2024/*.pdf
knowledge/au/pims_wang_2024/*.docx
knowledge/au/pims_wang_2024/*.xlsx
knowledge/au/pims_wang_2024/*.zip
