# Wave 6 source PDFs/DOCXs — Australian peak-body guidelines.
# Most are openly downloadable (Heart Foundation, ADS-ADEA, KHA-CARI, RANZCP,
# ACSQHC, NPS MedicineWise legacy) but copyright still applies. We commit
# only the structured YAML/JSON we curate from these (per "facts not
# copyrightable" posture from the Layer 1 audit risk register).
*.pdf
*.docx
*.xlsx
*.zip
*.epub
*.mobi
