# TGA Product Information PDFs — Australian regulatory drug labels.
# Downloaded from https://www.ebs.tga.gov.au/ebs/picmi/picmirepository.nsf
# via scripts/tga_pi_scraper.py. Same legal posture as Wang 2024 / Wave 6:
# the registered indications/contraindications are factual; TGA prose is
# Crown copyright (Australian Government). We commit only re-phrased
# structured YAMLs we curate from these PDFs.
docs/*.pdf
docs/*.docx
cmi_docs/*.pdf
cmi_docs/*.docx
cache/
